body {
  font-size: 18px;
  background-color: #f6f8fa;
  color: #061b33;
  font-family: 'Lato', 'Georgia', Arial, Verdana, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', 'Georgia', Arial, Verdana, sans-serif;
  color: #061b33;
  line-height: 1.2;
  font-weight: 700;
}

header {
  background-color: #fff;
  padding-top: 20px;
  max-width: 100%;
  min-height: 100px;
}

header .wrapper-header {
  max-width: 1100px;
  margin: 0 auto;
  text-align: left;
}

header  a {
  display: block;
  height: auto;
  margin-bottom: 0px;
  margin-left: 20px;
  width: 200px;
}

img.logo {
  width: 100%;
  margin-bottom: 0px;
}

.picCover {
  text-align: center;
  width: 100%;
}

.picCover img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.post_detail.post_date {
  float: none;
  margin: auto;
  margin-bottom: 10px;
  margin-bottom: 18px;
  padding: 0 10%;
}

.post_info_date {
  /* width: 50%; */
  text-align: center;
  font-family: 'Lato', 'Georgia', Arial, Verdana, sans-serif;
  color: rgb(102, 109, 113);
  position: relative;
  display: block;
  /* left: 24%; */
}

.post_info_date.details {
  left: 0%;
}

.post_info_date span {
  display: inline-block;
  padding: 0 1.2em;
  background: #ffffff;
  position: relative;
  z-index: 2;
}

/* .post_info_date:before {
    content: "";
    border-bottom: 1px solid #08c;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 0;
} */
.moviderBorder {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 5px;
  margin-bottom: 30px;
  background: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(224, 230, 237);
  border-image: initial;
  padding: 10px 10px;
  color: rgb(102, 109, 113);
  font-size: 17px;
  padding: 10px;
}

.moviderBorder.moviCenter {
  text-align: center;
}

h2.titleContent a:hover {
  color: rgb(52, 152, 219) !important;
}

.continueReading {
  color: rgb(102, 109, 113);
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 20px;
  box-shadow: none;
}

.main-width, footer {
  max-width: 1100px;
  margin: 0 auto;
}

.main-width {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-width .wrapper-blog {
  flex: 1 1 300px;
  margin: 0 10px 20px;
  min-height: 500px;
}

.main-width .wrapper-blog .content-blog {
  padding: 0 10px;
}

.main-width .wrapper-blog .content-blog p {
  text-align: left;
  margin: 0;
}

footer {
  margin: 30px auto;
}

.cardStyle {
  padding: 2%;
  box-shadow: 0px 5px 10px 0px rgba(200, 200, 200, 0.5);
  margin: 40px 0;
  background-color: #fff;
}

.cardStyle p {
  padding: 0 50px;
  color: #7f8995;
}

div.wrapper-blogdetail {
  padding: 20px 40px;
  background-color: #fff;
}

div.text-blogpage p, p.text-written {
  color: #7f8995;
}

h2, h2 a {
  font-size: 30px;
  margin: 40px 0;
  text-align: left;
}
